* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("Fonts/Proxima-Nova-Regular.otf");
}

.body {
    font-family: "Proxima Nova", sans-serif;
    color: #1D1A1E;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
    width: 1020px;
}

.header {
    /*padding-top: 8px;*/
    /*padding-bottom: 35.54px;*/
}

.header .container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo {
    /*size: initial;*/
    /*position: absolute;*/
    /*left: 120 px;*/
    /*top: 120 px;*/
}

.initial-logo img {
    vertical-align: bottom;
    size: initial;
}

.initial-logo {
    margin-right: 8px;
    margin-left: 30px;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container_menu {
    max-width: 1020px;
    position: static;
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.container__menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container__menu a {
    text-decoration: none;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.62px;
    color: #1D1A1E

}

.menu div {
    font-weight: bold;
}

.initial-button {
    display: flex;
    align-content: center;
}

.im-in-button {
    background: #FCEA10;
    width: 70px;
    height: 27px;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    /*margin-left: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: AUTO;
    cursor: pointer;
}

.menu1 {
    width: 712.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*padding-top: 42px;*/
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
}

.menu2 {
    width: 712.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*padding-top: 42px;*/
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
}

.H1-like {
    font-family: "Proxima Nova", sans-serif;
    font-size: 44px;
    line-height: 53.59px;
    font-weight: 700;
}

.H2-like {
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    margin-top: 17px;
}

.header-block {
    width: 742px; /* Initial width */
    max-width: 100%; /* Prevents the div from exceeding the window width */
    min-width: 450px; /* Minimum width of 450px */
    margin: 0 auto;
    padding-right: 52px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    /*padding-left: 139px;*/
    border: 1px solid black;
    white-space: nowrap;
}

@media (max-width: 450px) {
    flex-direction: column

; /* Stacks the text vertically */
    white-space: normal

; /* Allows text to wrap */
}

.above-graphic {
    height: 86px;
    width: 724px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: flex-end;
    position: relative;
}

.million {
    border: 1px solid black;
    display: flex;
    margin-left: 60px;
    margin-right: 482px;
    margin-bottom: 2.68px;
    position: relative;
    width: 23px;
    height: 22px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.92px;
    letter-spacing: -0.01em;
}

.Hue {
    position: absolute;
    /*size: initial;*/
    top: 0px;
    right: 0px;

}

.graphic-wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;

}

.views {
    width: 49px;
    height: 19px;
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    top: 164.32px;
    right: 603px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.49px;
    transform-origin: left top;
    letter-spacing: -0.01em;
}


.want-too {
    position: absolute;
    top: 238.32px;
    left: 394px;
}

.clickable-point {
    position: absolute;
}


.straw {
    width: fit-content;
    height: fit-content;
    margin: 9.35px auto 0;

}